@import "tailwindcss";

@theme {
  --color-primary: #22C55E;
  --color-ice: #F5F7FA;
  --color-text-main: #0F172A;
  --color-background: var(--color-ice);
  --color-foreground: var(--color-text-main);
}

body {
  background-color: var(--color-ice);
  color: var(--color-text-main);
  font-family: var(--font-inter), sans-serif;
}

